@import "tailwindcss";

:root {
  --background: #F9FAFC;
  --foreground: #0f172a; /* Slate 900 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
